doctype html
html(lang="en")
  head
    title Passport Google+ Sign-In Example
  body
    #content
      span#signinButton
        span.g-signin(data-callback="signInCallback",
                      data-clientid=client_id,
                      data-cookiepolicy="single_host_origin"
                      data-requestvisibleactions="http://schemas.google.com/AddActivity"
                      data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"
                      data-approvalprompt="force"
                      data-accesstype="online")
      p
        a(href='/protected') View protected page

    #profile
      pre

    script(type="text/javascript").
      function signInCallback(authResult) {
        if (authResult.code) {
          $.post('/auth/google/callback', { id_token: authResult.id_token})
          .done(function(data) {
            $('#signinButton').hide();
            $('#profile > pre').text(JSON.stringify(data, true, "\t"));
          });
        } else if (authResult.error) {
          console.log('There was an error: ' + authResult.error);
        }
      };

    script(src="//apis.google.com/js/client:plusone.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
